{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div id="details">
    <div>
        <h3>RESERVATIONS</h3>
        <p>Online Reservations are available for a group of 1-6 guests, for larger group contact 
            <a href="mailto:bookingscuppysrestaurant@gmail.com"> bookingscuppysrestaurant@gmail.com</a>
            <br>
            Credit card details are required to secure your reservation.
            We do not require a deposit to secure the reservation.</p>
            Breakfast
            <div>Sun - Sat, 6:00 - 11:00</div>
            <br>
            Lunch
            <div>Sun - Sat, 12:00 - 15:00</div>
            <br>
            Dinner
            <div>Sun -Sat, 18:00 - 20:30</div>
            <br>
            <p id="smallcaps" class="smallcaps">BOOKING POLICY</p>
            For any changes to your reservation with less than 72 hours notice,
            <br> 
            including cancellation, decrease in party size or rescheduling,
            <br> 
            a fee of £125 per person for lunch or £155 per person for dinner will
            <br> 
            be charged to the credit card submitted when making a reservation.
            <br> 
            Please note, this applies to all cancellations and is not discretionary.
    </div>
        {% if user.is_authenticated %}
        <div id="bookform">
            <p>Already made a booking?<a href="{% url 'customer_bookings' %}">  View bookings</a></p>
            <form method="POST">
                {{ form.as_p}}
                {% csrf_token %}
                <button class="btn-signup" id="bookform_submit" type="submit">Submit</button>
            </form>
                {% else %}
            <p>Log in to make a booking</p>
        </div> 
    {% endif %}
    {% endblock content %}   

   


