<!-- <!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Restaurant Booking system - Cuppys's Restaurant</title>
</head>

<body>
    <h1 class="text-centre">Welcome to Cuppy's</h1>
    <p class="text-centre"> Book a table now and indulge in our delicious cuisine!</p>
    <h1 class="t-h1">RESERVATIONS</h1>
    <p>Online Reservatiins are available for a group of 1-6 guests, for larger group contact <a href="booking@cuppysrestaurant@gmail.com"> booking@cuppysrestaurant@gmail.com</a></p>
    <p>Credit card details are required to secure your reservation. 
        We do not require a deposit to secure the reservation.</p>
    <!--Link to connect to the booking site-->
    <!-- <div class="button-block">
        <button class="button"><a href="{%url 'booking' %}">MAKE A RESERVATION</a></span></button>
    </div>

    <div>
        <p>Breakfast</p>
        <br>
        Sun - Sat, 6:00 - 11:00
        <p>Lunch</p>
        <br>
        Sun - Sat, 12:00 - 15:00
        <p>Dinner</p>
        <br>
        Sun -Sat, 18:00 - 20:30
    </div>



   
</body>

</html>  --> 