{% extends "base.html" %}

{% block content %}

    <h1 class="text-centre">Welcome to Cuppy's</h1>
    <h1 class="t-h1">RESERVATIONS</h1>
    <p>Online Reservations are available for a group of 1-6 guests, for larger group contact <a href="booking-cuppysrestaurant@gmail.com"> booking-cuppysrestaurant@gmail.com</a></p>
    <p>Credit card details are required to secure your reservation. 
        We do not require a deposit to secure the reservation.</p>
    <!--Link to connect to the booking site-->
    <div class="button-block">
        <button class="button"><a href="{%url 'booking' %}">MAKE A RESERVATION</a></span></button>
    </div>

    <div>
        <p>Breakfast</p>

        Sun - Sat, 6:00 - 11:00
        <br>
        <p>Lunch</p>
        Sun - Sat, 12:00 - 15:00
        <br>
        <p>Dinner</p>
        Sun -Sat, 18:00 - 20:30
    </div>

    <div>
        <br>
        <p class="smallcaps">BOOKING POLICY</p>
        For any changes to your reservation with less than 72 hours notice, 
        including cancellation, decrease in party size or rescheduling, 
        a fee of £125 per person for lunch or £155 per person for dinner will be charged to the credit card submitted when making a reservation. 
        Please note, this applies to all cancellations and is not discretionary.
    </div>

    {% endblock content %}   

   


