{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %} 
<div id="cancelform">
  <h3> Cancel Booking</h3>
  <div>Date: {{ booking.start_time }}</div>
  <div>Number of guests: {{ booking.number_of_guests }}</div>
  <p> Are you sure you want to cancel this booking?</p>

    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn" type="submit">Yes</button>
        <a href="{% url 'customer_bookings' %}" class="btn">No</button>
    </form>
</div> 
{% endif %}

    {% endblock content %}   

   


