{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div id="booking_details">
<h1> Your booking details</h1>

{% for booking in bookings %}
<div id="reviews" class="col text-center bold ">{{ booking.customer }}:
    {% csrf_token %}
    <span class="font-weight-normal">
        Number of guests: {{ booking.number_of_guests }}
    </span>
     Time: {{ booking.start_time }}
    </p>
    <div>
        Special requests: {{ booking.special_request }}
    </div>

</div>
{% endfor %}


{% endblock content %}   


        
