{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %} 
<form method="POST">
    {{ form.as_p}}
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>
    {% else %}
<p>Log in to leave a review</p>
    {% endif %}

    <!--Rating stars-->
    <div class="row">
        <div class="col text-center">
            <form class="rate-form" action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="my-btn fa fa-star fa-3x checked" id="first"></button>
                <button type="submit" class="my-btn fa fa-star fa-3x checked" id="second"></button>
                <button type="submit" class="my-btn fa fa-star fa-3x checked" id="third"></button>
                <button type="submit" class="my-btn fa fa-star fa-3x checked" id="fourth"></button>
                <button type="submit" class="my-btn fa fa-star fa-3x" id="fifth"></button>
            </form>
        </div>
        <br>
        <div id="confirm-box"></div>
    </div>

{% endblock content %}
{% block extras%}
    <script src="{% static 'js/stars.js' %}"></script> 
{% endblock %}