{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!-- index.html content starts here -->

<!-- Hero Image-->
<div id="opacity">
  <img class="card-img-top" src="{% static 'images/A-restaurant-picture-with-tables-and-chairs.jpg' %}"
    alt="Restaurant image" id="hero-image">
    <!-- Body Entries Column -->

    <!--Restaurant introduction-->
  <div id="description">
    <div id="loggedin" class="text-muted ">
      {% if user.is_authenticated %}
      <div> Hello {{ user }}</div>
      {% else %}
      <div>You are not logged in</div>
      {% endif %}
  </div>
      <div id="content">
      "Here, at Cuppy's, in the City of Derby, we understand cravings
      <br>
      and we dont accept compromises. Not about our food.
      All our ingredients are sourced from local producers
      <br>
      to ensure quality and freshness.
      <br>
      That's why our menu is seasonal and Today,
      <br>
      we may serve you creamy mushroom soup, and <br>
      tomorrow we may have a classic ratatouille on the menu.
      <br>
      But the taste is always the same: finger-licking good!
      <br>
      Don't hesitate to pay us a visit if you share our passion
      <br>for fresh dishes cooked with only the best ingredients.
      <br>
      We promise an experience that will keep you coming back for more!
      <br>
    </div>
  <p id="location">You can find us on <a href="https://www.google.com/maps?q=osmaston+road+derby+united+kingdom" target="_blank">Osmaston Road, Derby, United Kingdom.</a>
    <br>
    If you are having issues booking online,
    <br>
    Call our customer service on: 01332000000
    <br>
    or click on the email address to send your enquiries
    <br>
    <a href="mailto:bookingscuppysrestaurant@gmail.com"> bookingscuppysrestaurant@gmail.com</a>
  </div>
        <div id="make-bookings">
        <p class="btn btn-signup" id="book_table"><a href="{%url 'booking' %}">BOOK A TABLE NOW!</a></p>
        </div>
        <div id="reviews_page">
            <a href="{% url 'review_list' %}">Customers reviews({{ review_count }})</a>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
