body {
    background-color: #ffc0cb;
}

#details, #times, #policy {
    text-align: center;
    font-family: 'dancing script', sans-serif;
}

#title {
    color: darkblue;
}
.btn-signup {
    background-color: #000000;
    color: #fff;
}

#hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#opacity {
    background-color:  rgba(4, 0, 1, 0.6);
    height: 86.5vh;
}
#description {
    color: #fff4f9;
    display: flex;
    font-size: 20px;
    font-family: 'dancing script', sans-serif;
    
}
#content {
    margin-top: 50px;
    display: flex;
    margin-left: 50px;
    
}
#location {
    margin-top: 150px;
    margin-left: 250px;
}
#image-slides {
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin-left: 750px;
    margin-top: 20px;
}

/* Slides animation*/
@keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {right:800px;}
    30% {right:1000px;}
    40% {left:1000px;}
    50% {left:200px;}
    60% {left:200px;}
    70% {left:200px;}
    80% {left:200px;}
    90% {left:200px;}
    100% {left:0px;}
}
#slides {
    height: 200px;
    width: 1000px;
    margin: 0 0 0 -200px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

.img-container {
    height: 200px;
    position: relative;
    float: right;
    width: 200px;

}

#map {min-height: 360px; width: 300px;}

/* Rating css*/
.checked {
    color: orange;
  }
.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}


/* Hide radio buttons
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

/* Show the stars*/
/* .rate > label::before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}
.rate .half::before {
    content: '\f089';
    position:absolute;
    padding-right: 0;
}

/* Click and hover*/
/* input:checked ~ label, label::hover ~ label {
    color: #ffb503;
}
/* Hover highlights*/
/* input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: #cc9000;
} */
#make-bookings {
    margin-top: 50px;
    text-align: center;
    color: #ffc0cb;
}
footer {
    background-color: #ec141403;
}
