body {
    background-color: #ffc0cb;
}

/*index.html css*/
#hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#opacity {
    background-color:  rgba(4, 0, 1, 0.6);
    height: 86.5vh;
}

#book_table {
    font-family: 'dancing script', sans-serif;
    font-size: 22px;
    border-radius: 10px; 
}

#description {
    color: #fff4f9;
    display: flex;
    font-size: 20px;
    font-family: 'dancing script', sans-serif;
    
}

#content {
    margin-top: 50px;
    margin-left: 50px;
    
}
#location {
    margin-top: 150px;
    margin-left: 250px;
}

/* booking.html css*/
#details {
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'dancing script', sans-serif;
    font-size: 20px;
    display: flex;
}

#bookform {
    font-family: 'dancing script', sans-serif;
    margin-top: 90px;
    margin-left: 50px;
}

#bookform_submit {
    margin-left: 12rem;
}

.btn-signup,
.btn-edit {
    background-color: #000000;
    color: #ffc0cb;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffc0cb;
    color: #000000;
}
/*cancel_booking.html css*/
#cancelform {
    text-align: center;
    padding-top: 50px;
}

#map {
    min-height: 360px; 
    width: 300px;}

/* Rating css*/
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: orange;
}
.rating-list {
    display: inline-block;
    list-style: none;
}
.checked {
    color: orange;
  }

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

#make-bookings {
    margin-top: 50px;
    text-align: center;
    color: #ffc0cb;
}

/* Reviews page css*/
#reviews_page {   
    margin-left: 1450px;
    color: #fff;
    font-family: 'dancing script', sans-serif;
    font-size: 20px;
}


#password {
    margin-top: 10px;
    margin-left: 430px;
}
a {
    text-decoration: underline;
    color: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(4, 0, 1, 0.6);   
}

